*.diff
*.err
*.log
*.swp
*.vi
*~

## OS or Editor folders
*.sublime-workspace
*.sublime-projects
.DS_Store
.cache
.idea
.project
.settings
.tmproj
.iml
Thumbs.db
desktop.ini
nbproject
.devilbox

## application
node_modules
_data
data/dataset.csv
data/dev.db
data/prod.db
/data/
/dist/api/
/dist/ui/index.*.*
/dist/ui/index.html

tsconfig.tsbuildinfo
/.parcel-cache/
